localhost {
  log {
    format json
  }

  # Компрессия
  encode zstd
  # Самоподписной сертификат
  tls internal

  # Проксирование всех запросов в app:3000
  # app – имя сервиса в docker-compose.yml
  reverse_proxy /* app:3000
}